.hero {
height: 100vh;
background: url('images/hotel.jpg') center/cover no-repeat;
position: relative;
}
.overlay {
position: absolute;
top: 0; left: 0; width: 100%; height: 100%;
background: rgba(0,0,0,0.5);
}
